html{
    background-color:rgb(244, 251, 184);
}

img{
    width:760px;
    height:760px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

button{
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    text-decoration: none;
    border: 0;
}