body{
    font-family: 'Space Mono', monospace;
    color:black;
    font-size:14px;
}
.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.entries{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin:20px;
}