body{
    font-family: 'Space Mono', monospace;
    color:black;
    font-size:14px;
    font-weight:bold;
}
.container{
    display: inline-flex;
    flex-direction: column;
    align-content: space-between;
    margin:0;
    

}
.numbers{
    display:flex;
    flex-direction:column;
    margin-right:auto;
    position:relative;
    left:90%;
    bottom: 920px;
 
}




   
