body{
    background-color: black;
    font-family: 'Space Mono', monospace;
    color:white;
    font-size:20px;
    text-transform: uppercase;
    font-weight:lighter;
}
.heading{
    text-align: center;
}

.wrapper{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction:row;
    margin:40px;
    align-items: center;

}

.item{
    width:500px;
    justify-content: center;
}
.chapter{
   font-size:50px;
   width:500px;
   display: flex;
   justify-content: center;

}
.end{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
