html{
    font-family: 'Cormorant Garamond', serif;
}

p.title{
    text-align: center;
    font-size:26vh;
    margin:0;
    font-style:italic;
}

/* header{
    height:100vh;
    border:1px solid black;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
} */
.container{
    display:flex;
    justify-content: flex-start;
    height: 100vh;
    margin:100px;
    /* width:45vw;
    padding:40px; */
    /* border: 1px solid salmon; */
}

p.pargraph1{
    font-size:22px;
    line-height: 1.6;

}
#img-root{
    width:100%;
    height:300px;
    object-fit:contain;
}
.article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left:300px;
    margin-right:300px;
    font-size:22px;

}
h1{
    font-style: italic;
    
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-around;
}
img.imgfarm{
    width:400px;
}




/* div.info{
    border: 1px solid black;
    margin-left: auto;
    width: 45vw;
    margin-right:auto; 
    padding: 20px;
    background-size:cover;
    height: 100%;
    text-transform:uppercase;
    font-style:italic;
} */

/* ul{
    list-style-type:none;
    padding:0;
} */

/* h1{
    max-width: 50%;
    margin-left:auto;
    color:white;
    text-indent:-2em;
} */

